<mat-card class="w-full max-w-6xl mx-auto mt-12 p-10 bg-white">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Register</h1>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <app-text-input label="First Name" formControlName="firstName" />
            <app-text-input label="Last Name" formControlName="lastName" />
        </div>

        <div class="grid grid-cols-2 gap-4">
            <app-text-input label="Email Address" formControlName="email" type="email" />
            <app-text-input label="Password" formControlName="password" type="password" />
        </div>
        

        <button mat-flat-button type="submit" [disabled]="registerForm.invalid" class="w-full py-2">Register</button>
    </form>
</mat-card>