<section class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
        <h2 class="font-semibold text-2xl mb-2">Thank you for shopping with us!</h2>
        <p class="text-gra-500 mb-8">Your order will be is being prepared</p>
        <div class="space-y-2 rounded=lg border border-gray-100 bg-gray-50 p-6 mb-7">
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Date will go here</dt>
                <dd class="font-medium text-gray-900 text-end">DD MMMM YYYY</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Payment Method</dt>
                <dd class="font-medium text-gray-900 text-end">Type Here</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Address</dt>
                <dd class="font-medium text-gray-900 text-end">Address here</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Amoun</dt>
                <dd class="font-medium text-gray-900 text-end">Amount goes here</dd>
            </dl>
        </div>
        <div class="flex items-center space-x-4">
            <button routerLink="/orders/111" mat-flat-button>View Your Order</button>
            <button routerLink="/shop" mat-stroked-button>Continue Shopping</button>
        </div>
    </div>
</section>