<mat-card class="w-full max-w-6xl mx-auto mt-12 p-10 bg-white">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Login</h1>
        </div>

        <div class="grid grid-cols-1 gap-4">
            <app-text-input label="Email Address" formControlName="email" type="email" />
        </div>

        <div class="grid grid-cols-1 gap-4">
            <app-text-input label="Password" formControlName="password" type="password" />
        </div>

        <button mat-flat-button type="submit" class="w-full py-2" [disabled]="loginForm.invalid">Login</button>
    </form>
</mat-card>